* {
  margin: 0;
  padding: 0;
  color: rgb(24, 24, 24);
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  justify-content: space-around;
  background-color: rgb(235, 235, 235);
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  align-items: center;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 100px;
}

#line {
  display: flex;
  flex-direction: row;
  margin-left: 165px;
}

#line2 {
  display: flex;
  flex-direction: row;
  margin-left: 165px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#line3 {
  display: flex;
  margin-bottom: 20px;
  margin-left: 170px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  padding-top: 20px;
}

#line3 input {
  margin-left: 20px;
}

#line4 {
  margin-left: 150px;
}

#line5 {
  margin-top: 20px;

}

#column {
  display: flex;
  flex-direction: column;
}

#column2 {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-bottom: 20px;
}

#column-pai {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

#counter {
  margin-left: 420px;
}

.trybewarts-header-logo {
  height: 100px;
  width: 100px;
  margin-left: 10px;
}

#email , #senha {
  height: 40px;
  margin-top: 25px;
  margin-left: 5px;
  border-radius: 3px;
  border: 1px solid black;
}

#button-enter , #submit-btn {
  width: 100px;
  height: 40px;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(215, 218, 49);
  border-radius: 3px;
  border: none;
}

#submit-btn {
  margin-bottom: 15px;
}

#trybewarts-header-title {
  margin-top: 25px;
  color: white;
  margin-left: 30px;
}

#input-name , #input-lastname , #input-email , #house {
  margin-left: 5px;
  margin-bottom: 5px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: none;
}

#input-email {
  width: 242px;
}

#house {
  margin-left: 5px;
  margin-bottom: 5px;
  width: 220px;
  height: 40px;
  border-radius: 5px;
  border: none;
}

#label-house {
  margin-top: 10px;
  margin-left: 3px;
}

#cabeçalho-form {
  margin-left: 300px;
  margin-bottom: 25px;
  margin-top: 7px;
}

footer {
  background-color: rgb(31, 31, 31);
  color: white;
  height: 30px;
  padding-left: 560px;
  padding-top: 10px;
}

#lista-pronta {
  padding: 20px;
  padding-left: 30px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  margin: 20px;
  margin-left: 35px;
}
