.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#line {
  display: flex;
  flex-direction: row;
}

#line2 {
  display: flex;
  flex-direction: row;
}

#line3 {
  display: flex;
  flex-direction: row;
}

line {
  display: flex;
  flex-direction: row;
}

#column {
  display: flex;
  flex-direction: column;
}

#column2 {
  display: flex;
  flex-direction: column;
}

#column-pai {
  display: flex;
  flex-direction: row;
}

#counter {
  margin-left: 290px;
}
